.page__main-card {
  background-image: linear-gradient(to bottom, $color-back, $color-white);
  .wrapper {
    padding: 0;
    @include mq($bp_tablet) {
      display: grid;
      grid-gap: rem(30);
      grid-template-columns: rem(330) 1fr;
      padding: 0 rem(40);
    }
  }
}

.main__settings {
  padding: rem(30) rem(20);
  @include mq($bp_tablet) {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: rem(30) 0;
  }
}

.fieldset__legend {
  height: 0;
  overflow: hidden;
  display: inline-block;
}

.form__fieldset {
  border: none;
}

.hidden {
  display: none;
}
