.page__main-card {
  background-image: linear-gradient(to bottom, $color-back, $color-white);
}

.main-card__container {
  @include mq($bp_tablet) {
    display: grid;
    grid-gap: rem(30);
    grid-template-columns: rem(330) 1fr;
    padding: 0 rem(40);
  }
  @include mq($bp_desktop) {
    max-width: rem(945);
    margin: 0 auto;
    padding: 0;
  }
}

.main__settings {
  padding: rem(30) rem(20);
  @include mq($bp_tablet) {
    grid-column: 1/2;
    grid-row: 1/2;
    padding: rem(30) 0;
  }
}

fieldset {
  border: none;
}