<!-- section.main__ -->
<section class="design.main">
    <div class="desing__title">
        <i class="far fa-object-ungroup"></i>
        <h2 class="design__title-text">diseña</h2>
    </div>
    <div class="design__button">
        <button class="design__button-arrow"><i class="fas fa-angle-down"></i></button>
    </div>
    <div class="design__colors">
        <p class="design__colors-title">colores</p>
        <ul class="design__colors-list">
            <li class="colors-list-element">
                <label for="selection1">
                    <input id="selection1" type="radio" value="paletteblue" name="palettecolors" />
                    <div class="palettecolor1">
                        <div class="rectangle-1"></div>
                        <div class="rectangle-2"></div>
                        <div class="rectangle-3"></div>
                    </div>
                </label>
            </li>
            <li class="colors-list-element">
                <label for="selection2">
                    <input id="selection2" type="radio" value="palettered" name="palettecolors" />
                    <div class="palettecolor2">
                        <div class="rectangle-4"></div>
                        <div class="rectangle-5"></div>
                        <div class="rectangle-6"></div>
                    </div>
                </label>
            </li>
            <li class="colors-list-element">
                <label for="selection3">
                    <input id="selection3" type="radio" value="palettegrey" name="palettecolors" />
                    <div class="palettecolor3">
                        <div class="rectangle-7"></div>
                        <div class="rectangle-8"></div>
                        <div class="rectangle-9"></div>
                    </div>
                </label>
            </li>
        </ul>
    </div>
</section>