<fieldset class="design__main form__fieldset">
  <legend class="fieldset__legend">diseña</legend>
  <div class="design__title-wrapper">
    <div class="design__title">
      <i class="far fa-object-ungroup design-icon"></i>
      <h3 class="design__title-text">diseña</h3>
    </div>
    <button class="design__button"><i class="fas fa-chevron-up"></i></button>
  </div>
  <div class="design__colors section__collapse">
    <p class="design__colors-title">colores</p>
    <ul class="design__colors-list">
      <li class="colors-list-element">
        <label for="selection1" class="design__label">
          <input id="selection1" type="radio" value="paletteblue" name="palettecolors" class="palettecolors theme1" checked/>
          <ul class="palettecolor-list">
            <li class="rectangle" style="background-color:#114e4e">Dark cyan</li>
            <li class="rectangle" style="background-color:#438792">Dirty blue</li>
            <li class="rectangle" style="background-color:#a2deaf">Hospital green</li>
          </ul>
        </label>
      </li>
      <li class="colors-list-element">
        <label for="selection2" class="design__label">
          <input id="selection2" type="radio" value="palettered" name="palettecolors" class="palettecolors theme2" />
          <ul class="palettecolor-list">
            <li class="rectangle" style="background-color:#420101">Chocolatte</li>
            <li class="rectangle" style="background-color:#bd1010">Thunderbird</li>
            <li class="rectangle" style="background-color:#e95626">Flamingo orange</li>
          </ul>
        </label>
      </li>
      <li class="colors-list-element">
        <label for="selection3" class="design__label">
          <input id="selection3" type="radio" value="palettegrey" name="palettecolors" class="palettecolors theme3" />
          <ul class="palettecolor-list">
            <li class="rectangle" style="background-color:#3e5b65">Fiord</li>
            <li class="rectangle" style="background-color:#dfe5eb">Mystic</li>
            <li class="rectangle" style="background-color:#a0c0cf">Rock blue</li>
          </ul>
        </label>
      </li>
    </ul>
  </div>
</fieldset>
