<div class="fill__container-title">
    <i class="far fa-keyboard"></i>
    <p>rellena</p>
</div>

<div>
    <form class="fill__container-form" action="" method="">
        <label for="name">nombre completo</label>
        <input id="name" type="text" name="completeName" placeholder="ej: Sally Hill">
        <label for="job">puesto</label>
        <input id="job" type="text" name="job" placeholder="ej: font-end unicorn">

        imagen de perfil
        <button>añandir imagen</button>

        <label for="email">email</label>
        <input id="email" type="email" name="email" placeholder="ej: sally-hill@gmail.com">
        <label for="phone">teléfono</label>
        <input id="phone" type="number" name="phoneNumber" placeholder="555-55-55-55">
        <label for="linkedin">linkedin</label>
        <input id="linkedin" type="text" name="linkedin" placeholder="linkedin.com/in/sally.hill">
        <label for="github">github</label>
        <input id="github" type="text" name="github" placeholder="@sally-hill">
    </form>
</div>  