<!-- TITLE FILL -->
<!-- Falta poner etiqueta <fieldset> en cada parte de createCard -->
    <section class="fill__container">
        <div class="fill__container-title">
            <div class="title__container">
                <i class="far fa-keyboard"></i>
                <h2 class="title__fill">rellena</h2>
            </div>
            <div class="title__arrow">
                <i class="fas fa-chevron-up"></i>
            </div>
        </div>

<!-- FORM -->

        <form class="fill__container-form" action="" method="">
            <div class="fill__field">
                <label for="name" class="label">nombre completo</label>
                <input id="name" class="field" type="text" name="completeName" placeholder="ej: sally hill">
            </div>
            <div class="fill__field">
                <label for="job" class="label">puesto</label>
                <input id="job" class="field" type="text" name="job" placeholder="ej: font-end unicorn">
            </div>
            <label for="add__img" class="label">imagen de perfil</label>
            <div class="fill__field">
                <div class="add__img add__img-container">
                    <input id="add__img" class="field add__img-input" type="text" name="add__img">
                    <button type="button" class="fill__button">añandir imagen</button>
                    <div class="fill__preview-little"></div>
                </div>
            </div>
            <div class="fill__field">
                <label for="email" class="label">email</label>
                <input id="email" class="field" type="email" name="email" placeholder="ej: sally-hill@gmail.com">
            </div>
            <div class="fill__field">
                <label for="phone" class="label">teléfono</label>
                <input id="phone" class="field" type="number" name="phoneNumber" placeholder="555-55-55-55">
            </div>
            <div class="fill__field">
                <label for="linkedin" class="label">linkedin</label>
                <input id="linkedin" class="field" type="text" name="linkedin" placeholder="linkedin.com/in/sally.hill">
            </div>
            <div class="fill__field">
                <label for="github" class="label">github</label>
                <input id="github" class="field" type="text" name="github" placeholder="@sally-hill">
            </div>
        </form>
    </section>