<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Landing Page</title>
</head>
<body>
    <header class=""></header>
        <img src="../src/assets/images/awesome-logo.svg" alt="awesome profile 
        -cards">
    <main class="main__landing">
        <h1 class="main__landing-title">Crea tu tarjeta de visita</h1>
        <p class="main__landing-p">Crea mejores contactos profesionales de forma fácil y cómoda</p>
        <ul class="main__landing-list">
            <li class="main__landing-design">Diseña</li>
            <li class="main__landing-fill">Rellena</li>
            <li class="main__landing-share">Comparte</li>
            <a href="" class="main__landing-start">comenzar</a>
        </ul>
    </main>

    <footer class=""></footer>
    
    
</body>
</html>