<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing Page</title>
</head>
<body>
    <div class="main__landing-page">
        <!--
        <header class="main__landing-header">
        <div class="main__landing-logo">
            <img src="../assets/images/awesome-logo.svg" class="logo" alt="awesome profile -cards">
        </div>
        </header>

        -->
        <main class="main__landing">
        <div class="main__landing-info">
            <h2 class="main__landing-title">Crea tu tarjeta de visita</h2>
            <p class="main__landing-text">Crea mejores contactos profesionales de forma fácil y cómoda</p>
        </div>
        <div class="main__landing-menu">
            <ul class="main__landing-list">
                <li class="main__landing-item"><i class="far fa-object-ungroup"></i>Diseña</li>
                <li class="main__landing-item"><i class="far fa-keyboard"></i>Rellena</li>
                <li class="main__landing-item"><i class="fas fa-share-alt"></i>Comparte</li>
            </ul>
        </div>
        <div class="main__landing-start">
            <a href="" class="main__landing-s">comenzar</a>
        </div>
        </main>
    </div>
</body>
</html>


