<section class="main__preview">
  <div class="preview__card">
    <button class="preview__button">
      <i class="far fa-trash-alt trash-icon"></i>
      reset
    </button>
    <div class="card__header">
      <h2 class="card__name">nombre apellido</h2>
      <p class="card__job">Front-end developer</p>
    </div>
    <div class="card__image"></div>
    <ul class="card__links-list">
      <li class="card__link-sm"><i class="fas fa-mobile-alt"></i></li>
      <li class="card__link-sm"><i class="far fa-envelope"></i></li>
      <li class="card__link-sm"><i class="fab fa-linkedin-in"></i></li>
      <li class="card__link-sm"><i class="fab fa-github-alt"></i></li>
    </ul>
  </div>
</section>
