<section class="main__preview">
  <div class="preview__card theme1">
    <button class="preview__button">
      <i class="far fa-trash-alt trash-icon"></i>
      reset
    </button>
    <div class="card__header ">
      <h2 class="card__name ">nombre apellido</h2>
      <p class="card__job">Front-end developer</p>
    </div>
    <div class="card__image"></div>
    <ul class="card__links-list">
      <li class="card__link-sm sm__email hidden"><a class="email__link social__link" href=""><i class="far fa-envelope"></i></a></li>
      <li class="card__link-sm sm__mobile hidden"><a class="mobile__link social__link" href=""><i class="fas fa-mobile-alt"></i></a></li>
      <li class="card__link-sm sm__linkedin hidden"><a class="linkedin__link social__link" href=""><i class="fab fa-linkedin-in"></i></a></li>
      <li class="card__link-sm sm__github hidden"><a class="github__link social__link" href=""><i class="fab fa-github-alt"></i></a></li>
    </ul>
  </div>
</section>
