<section class="main__preview">
  <div class="page-card__wrapper">
    <button class="preview__button">
      <i class="far fa-trash-alt trash-icon"></i>
      reset
    </button>
    <div class="preview__card">
      <div class="card__header">
        <h2 class="card__name">nombre apellido</h2>
        <p class="card__job">Front-end developer</p>
      </div>
      <img src="https://via.placeholder.com/240X200" alt="user image" />
      <ul class="card__links-list">
        <li class="card__link-sm"><i class="fas fa-mobile-alt"></i></li>
        <li class="card__link-sm"><i class="far fa-envelope"></i></li>
        <li class="card__link-sm"><i class="fab fa-linkedin-in"></i></li>
        <li class="card__link-sm"><i class="fab fa-github-alt"></i></li>
      </ul>
    </div>
  </div>
</section>
