<fieldset class="share__main">
    <div class="share__title-wrapper">
        <div class="share__title">
            <i class="fas fa-share-alt share-icon"></i>
            <h2 class="share__title-text">comparte</h2>
        </div>
        <button class="share__button-arrow"><i class="fas fa-chevron-down"></i></button>
    </div>
    <div class="section__collapse">
        <div class="share__button-create">
            <div class="card-icon"><i class="far fa-address-card"></i></div>
            <input type="submit" value="crear tarjeta" class="share__button-text">
        </div>
        <div class="share__hidden">
            <p class="share__text">La tarjeta ha sido creada:</p>
            <a href="#" class="share__link">https:....</a>
            <a href="#" class="share__button-twitter"><i class="fab fa-twitter twitter-icon"></i>Compartir en
                twitter</a>
        </div>
    </div>
</fieldset>