<fieldset class="form__fieldset share__main">
  <legend class="fieldset__legend">comparte</legend>
  <div class="share__title-wrapper  collapse__title">
    <div class="share__title">
      <i class="fas fa-share-alt share-icon"></i>
      <h3 class="share__title-text">comparte</h3>
    </div>
    <button class="share__button-arrow"><i class="fas fa-chevron-down arrow"></i></button>
  </div>
  <div class="section__collapse hidden">
    <div>
      <button type="submit" class="share__button-create"><i class="far fa-address-card card-icon"></i>Crear tarjeta</button>
    </div>
    <div class="share__hidden">
      <p class="share__text">La tarjeta ha sido creada:</p>
      <a href="#" class="share__link">https:....</a>
      <a href="#" class="share__button-twitter"><i class="fab fa-twitter twitter-icon"></i>Compartir en twitter</a>
    </div>
  </div>
</fieldset>
