// TITLE FILL

.fill__container {
  padding: rem(13) 0 rem(30);
  border-bottom: rem(1) solid $color-border;
}

.fill__container-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // padding: 0 20px;
  margin-bottom: rem(25);
}

.title__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fill__icon {
  padding-right: 0.625rem;
  font-size: rem(18);
  color: $color-orange;
}

.title__fill {
  // margin: 0;
  // padding: 0 0 25px 10px;
  // color: $color-darkGrey;
  // text-transform: uppercase;
  // font-family: $openSans;

  // font-size: rem(18);
  // margin-left: rem(10);
  color: $color-darkGrey;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  font-size: rem(18);
}

.button__fill {
  width: rem(16);
  height: rem(18);
  font-size: rem(18);
  color: $color-darkGrey;
  background-color: transparent;
  border: none;
}

// FORM

.fill__container-form {
  // padding: 0 20px;
  font-size: rem(14);
}

.fill__field {
  margin-right: 0;
  padding-bottom: rem(20);
  &:last-child {
    padding-bottom: 0;
  }
}

.label {
  @include label;
}

.field {
  @include input;
}

// ADD IMAGE

.add__img-container {
  display: flex;
  position: relative;
}

.add__img-input {
  visibility: hidden;
  width: rem(140);
  height: rem(30);
}

.fill__button {
  position: absolute;
  top: 0;
  left: 0;
  width: rem(140);
  height: rem(30);
  background-color: $color-orange;
  color: $color-white;
  border: none;
  border-radius: rem(3);
  padding: 4px 22px 6px 22px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
}

.fill__preview-little {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  border: 1px solid $color-green;
}
