.page__footer {
  border-top: rem(1) solid $color-border;
  // position: absolute;
  // bottom: 0;
  // left: 0;
  // width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // height: rem(120);
  text-align: center;
  @include mq($bp-tablet) {
    margin: 0 rem(40);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.footer__copyright {
  margin: 0;
}
.footer__copyright-name,
.footer__wildcards {
  font-size: rem(14);
  color: $color-grey;
  font-family: $openSans;
  opacity: 0.5;
  margin-bottom: rem(11);
  @include mq($bp-tablet) {
    margin-top: rem(11);
  }
}
.footer__logo-adalab {
  width: rem(103);
}

.page-card .page__footer .footer__logo-adalab {
  height: rem(40);
}
