.wrapper {
    margin: 0 rem(30);
    @include mq($bp-tablet) {
      margin: 0 rem(40);
    }
  }
.header__logo {
    background: $color-white;
    height: rem(111);
    display: flex;
    justify-content: center;
    align-items: center;
    // @media all and (min-width: 768px) {
    //     justify-content: flex-start;
    // }

}
.header__logo-img {
    width: rem(201);
    height: rem(50);
}