.header__logo {
    background: $color-back;
    display: flex;
    justify-content: center;
    margin-top: rem(100);
}
.header__logo-img {
    width: rem(250);
    height: rem(63);
    @include mq($bp-tablet) {
        width: rem(419);
        height: rem(105);
    }
}