// colors
$color-white: #ffffff;
$color-black: #000000;
$color-orange: #e17334;
$color-khaki: #f9f4dc;
$color-green: #a2deaf;
$color-gBlue: #114e4e;
$color-dBlue: #438792;
$color-darkGrey: #54585a;

// break points
$bp_tablet: 768;

// fonts
$defaultFontSize: 16;
$openSans: 'Open Sans', sans-serif;
$merri: 'Merriweather', serif;
$montse: 'Montserrat', sans-serif;
